.slides-list li {
  display: flex;
  align-items: baseline;
  margin: 20px 0;
}

.slides-list .date {
  white-space: nowrap;
  font-weight: 300;
  font-family: monospace;
  margin-right: 13px;
  width: 80px;
  text-align: right;
}

.slides-list .title {
  flex: 1;
}

.slides-list .title a {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.2em;
  text-decoration-color: var(--color-text-sub);
  letter-spacing: 0.03em;
}

.slides-list .title a:hover {
  text-decoration-color: var(--color-text-main);
}
