/* screen reader only */
.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.main {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

header {
  display: flex;
  align-items: center;
}

header img.icon {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;

  display: inline-block;
  margin-right: 20px;
}

header h1.name {
    font-size: xx-large;
    font-family: 'Reem Kufi', sans-serif;
}

header p.title {
    font-size: medium;
    font-family: 'Noto Sans JP', sans-serif;
}

header ul.sns-links {
    list-style: none;
    margin: 0 auto;
    padding-inline-start: 0;
}

header ul.sns-links li {
    display: inline-block;
}

header ul.sns-links i {
    font-size: xx-large;
}

header ul.sns-links i:before {
    margin-left: 0;
}

.activities {
    margin-top: 20px;
}
