:root {
  --color-text-sub: #ddd;
}

html {
  font-family: 'Inter', sans-serif;
}

.main {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.profile {
  display: flex;
  align-items: center;
  height: 100vh;
}

.profile img.icon {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;

  display: inline-block;
  margin-right: 20px;
}

.profile .name {
  font-size: xx-large;
}

.profile .tagline {
  font-size: medium;
}

.profile .sns-links {
  margin: 0 auto;
}

.profile .sns-links li {
  display: inline-block;
  margin-right: 5px;
}

.profile .sns-links i {
  font-size: x-large;
}

.profile .sns-links i:before {
  margin-left: 0;
}


.activities {
  margin-top: 20px;
}

.activities ul {
}

.activities li {
  line-height: 2;
}

.activities .date {
}

.activities a {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.2em;
  text-decoration-color: var(--color-text-sub);
  letter-spacing: .03em;
}

/* screen reader only */
.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}

