:root {
  --color-background: #f8fbf8;
  --color-text-main: #2b2b2b;
  --color-text-sub: #595857;
}

[data-theme="dark"] {
  --color-background: #2b2b2b;
  --color-text-main: #f8fbf8;
  --color-text-sub: #595857;
}

/**
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #2b2b2b;
    --color-text-main: #f8fbf8;
    --color-text-sub: #595857;
  }
}
*/

html {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
}

.main {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.profile {
  display: flex;
  align-items: center;
  min-height: 100svh;
}

.profile img.icon {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;

  display: inline-block;
  margin-right: 20px;
}

.profile .name {
  font-size: xx-large;
}

.profile .tagline {
  font-size: medium;
  font-weight: normal;
}

.profile .sns-links {
  margin: 0 auto;
}

.profile .sns-links li {
  display: inline-block;
  margin-right: 5px;
}

.profile .sns-links i {
  font-size: x-large;
}

.profile .sns-links i:before {
  margin-left: 0;
}


.activities {
  margin-top: 20px;
}

.activities ul {
}

.activities li {
  line-height: 2;
}

.activities .date {
  font-weight: normal;
}

.activities a {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.2em;
  text-decoration-color: var(--color-text-sub);
  letter-spacing: .03em;
}

/* screen reader only */
.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}

