<section class="peitho-slide layout-profile">
  <h1><slot name="title" accepts="inline" arity="1"></slot></h1>
  <div class="profile-main">
    <div class="profile-photos">
      <figure class="photo photo-real">
        <slot name="photo-real" accepts="image" arity="1"></slot>
      </figure>
      <figure class="photo photo-icon">
        <slot name="photo-icon" accepts="image" arity="1"></slot>
      </figure>
    </div>
    <div class="profile-body slot-body-wrap">
      <slot name="body" accepts="blocks" arity="0..*"></slot>
    </div>
  </div>
</section>
